
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}



.container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
}

.breadcrumb {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.breadcrumb a {
    color: #1C3D5A;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.title {
    font-size: 32px;
    color: #1C3D5A;
    margin-bottom: 20px;
    font-weight: 700;
}

.filter {
    float: right;
    margin-top: -50px;
}

.filter select {
    padding: 10px;
    font-size: 14px;
}

.hotel {
    display: flex;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hotel img {
    width: 450px;
    height: auto;
    object-fit: cover;
}

.hotel_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    flex: 1;
    position: static;
}


.hotel_info h3 {
    margin: 0;
    font-size: 20px;
    color: #2c3e50;
}

.hotel_info a {
    color: #1C3D5A;
    padding-left: 10px;
    text-decoration: none;
    font-size: 14px;
    text-align: left;
    text-decoration: underline;
    
}

.hotel_info a:hover {
    color: #26547B;
}

.hotel_info .icons {
    margin: 10px 0;
}

.hotel_info .icons i {
    margin-right: 10px;
    color: #666;
}

.hotel_info .availability {
    background-color: #BDD5EA;
    color: #0c5460;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    /* Mantiene el ancho ajustado al contenido */
    margin-bottom: 10px;
    max-width: fit-content;
    /* Ajusta el tamaño al contenido sin expandirse */
}

.hotel_info .offer {
    color: #e74c3c;
    font-weight: bold;
    margin-bottom: 10px;
}

.hotel_info .price {
    font-size: 18px;
    color: #1C3D5A;
    margin-bottom: 10px;
}

.hotel_info .specs {
    font-weight: bold;
    font-size: 16px;
}

.hotel_info .button {
    background-color: #26547B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 159px;
    font-size: 14px;
    align-self: flex-end;
    /* Esto alinea el botón a la derecha */
}


.hotel_info .button:hover {
    background-color: #2a669b;
}

button {
    background-color: #26547B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 159px;
    font-size: 14px;
    transition: background-color 0.4s ease;
    /* Esto alinea el botón a la derecha */
}

button:hover{
    background-color:#173b5a ;
    transform: scale(1.06);
    
}

button:active{
    background-color: #112c44;
    transform: scale(1.06);
    
}


.discount {
    position: relative;
    top: 20px;
    right: 20px;
    background-color: #a0522d;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.search_form_wrapper {
    background-color: #F29C38;
    padding: 20px;
    border-radius: 8px;
    display: flexbox; 
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.search_form_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.dropdown select,
.people_counter input,
.date_picker input {
    padding: 10px;
    font-size: 16px;
}

.date_picker {
    position: absolute;
}

.date_range_picker {
    margin-top: 10px;
    position: absolute;
    /* Posiciona el calendario sobre los demás elementos */
    top: 1000%;
    /* Alinea el calendario debajo del input */
    left: 0;
    z-index: 1000;
    /* Asegura que el calendario esté por encima de otros elementos */
    background-color: white;
    /* Asegura que el fondo del calendario sea blanco */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Añade una sombra para destacar el calendario */
    border-radius: 8px;
    /* Bordes redondeados */
    padding: 1rem;
}

.child_age_warning {
    color: #ff0000;
    font-size: 14px;
    margin-top: 10px;
}

.child_age_selector {
    margin-top: 10px;
}

.icons img {
    width: 26px;
    height: 26px;
    margin-right: 10px;
}

.stepper {
    display: flex;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  .step {
    flex: 1;
    padding: 20px;
    position: relative;
    text-align: center;
  }
  .step:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 20%;
    right: 0;
    width: 1px;
    height: 60%;
    background: #ccc;
  }
  .stepnumberActive {
    background-color: #002f4b;
    color: white;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
    margin-bottom: 8px;
  }
  .stepnumber {
    background-color: #585e61;
    color: white;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .steptitle {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  .stepcontent {
    font-size: 14px;
    color: #555;
  }
  .steptitleActive {
    font-weight: bold;
    margin-bottom: 5px;
    color: #00263b;
  }
  .stepcontentActive {
    font-size: 14px;
    color: #00263b;
  }