/* src/styles/swiperSlider.css */
.swiper-slide img {
        width: 90%;
        height: 70vh;
         
  }

 
/* Cambiar el color de las flechas */
.swiper-button-next, .swiper-button-prev {
    color: #ff8533; /* Color personalizado para las flechas */
  }
  
  /* Cambiar el tamaño de las flechas, si lo necesitas */
  .swiper-button-next::after, .swiper-button-prev::after {
    font-size: 35px; /* Ajustar el tamaño de las flechas */
  }
  
  /* Opcional: Cambiar el color cuando se hace hover en las flechas */
  .swiper-button-next:hover, .swiper-button-prev:hover {
    color: #FFC300; /* Cambia el color cuando se pasa el ratón por encima */
  }
  